.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: grid;
  grid-template-rows: 2fr 9fr 1fr;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.heading {
  grid-area: header;
  border: 1px solid blue;
  margin: 0em;
  /* padding: 40px; */
}

.content {
  grid-area: "content";
}

.footer {
  grid-area: footer;
  border: 1px solid red;
}
