.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 9fr 0.5fr;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

body {
  margin: 0;
}

.heading {
  grid-area: header;
  margin: 0em;
  background-color: rgb(41, 39, 39);
  padding: 20px;
  color: rgb(230, 224, 224);
  text-decoration: none;
}

.content {
  grid-area: "content";
}

.footer {
  grid-area: footer;
  margin: 0em;
  background-color: rgb(41, 39, 39);
  color: rgb(230, 224, 224);
}
