.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: grid;
  grid-template-rows: 2fr 9fr 0.8fr;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

body {
  margin: 0;
}

.heading {
  grid-area: header;
  margin: 0em;
  background-color: rgb(41, 39, 39);
  color: whitesmoke;
  padding: 20px;
}

.content {
  grid-area: "content";
}

.footer {
  grid-area: footer;
  margin: 0em;
  background-color: rgb(41, 39, 39);
  color: whitesmoke;
}
