.content {
  display: grid;
  grid-template-rows: 7vh 1fr;
  grid-template-columns: 1.2fr 5fr;
  grid-template-areas: "nav nav" "topArticles articles";
  border: 1px solid black;
  /* overflow-y: scroll; */
}
.nav {
  grid-area: nav;
  background-color: rgb(85, 41, 41);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  float: left;
  text-transform: uppercase;
  padding: 12px;
  box-shadow: 0px 0px 10px black;
}

.dropdown {
  border-radius: 3px;
  width: 110px;
  height: 20px;
  margin: 3px;
  float: right;
  background-color: whitesmoke;
}
.navLinks {
  padding: 5px;
  text-decoration: underline;
  cursor: pointer;
  border: 1px blue;
  color: rgb(207, 200, 200);
}
.navLinks:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.navLinks:link {
  text-decoration: none;
}
.navLinks:visited {
  text-decoration: none;
}

.topArticles {
  grid-area: topArticles;
  background-color: whitesmoke;
  color: rgb(61, 59, 59);
  font-weight: bold;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px black;
}

.topArticleTitle {
  border-radius: 3px 3px 0px 0px;
  padding: 10px;
  margin: 0px;
  background-color: rgb(85, 41, 41);
  color: rgb(207, 200, 200);
}

.articlePageHeader {
  margin: 0px;
  padding: 10px;
  background-color: rgb(85, 41, 41);
  color: rgb(207, 200, 200);
}

.articles {
  grid-area: articles;
  border-radius: 3px;
  overflow-y: scroll;
  height: 80vh;
  background-color: whitesmoke;
  border-radius: 3px;
  border: 1px solid orange;
  /* box-shadow: 0px 0px 10px black; */
}

.articleCard {
  margin: 20px;
  box-shadow: 2px 2px 7px rgb(139, 133, 133);
  background-color: white;
  border-radius: 2px;
  padding: 10px;
  color: rgb(61, 59, 59);
  cursor: pointer;
  display: grid;
  grid-template-columns: 1.5fr 6fr;
  height: 10vh;
}
.articleCard:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.articleTitle {
  grid-area: 1/2;
  height: 10vh;
  text-decoration: none;
  background-color: rgb(85, 41, 41);
  border-radius: 2px;
  color: rgb(207, 200, 200);
  /* overflow: hidden; */
}

.singleArticle {
  background-color: whitesmoke;
  margin: 5px;
  overflow-y: scroll;
  display: grid;
  grid-template-rows: 5fr 1fr;
  border-radius: 3px;
  border: 1px solid black;
}
.innerSingleArticle {
  padding: 10px;
  grid-area: 1/2;
  /* box-shadow: 0px 0px 10px black; */
}

h6 {
  display: inline;
}

.submit {
  padding: 5px;
  box-shadow: 0px 0px 5px 1px rgb(224, 222, 222);
  border: none;
}
.submit:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.singleComment {
  box-shadow: 0px 0px 5px 1px rgb(224, 222, 222);
  list-style: none;
  padding: 20px;
  border: 1px solid red;
  display: grid;
  height: 10vh;
  grid-template-columns: 1.5fr 6fr;
}
.innerSingleComment {
  grid-area: 1/2;
  border: 1px solid black;
  height: 10vh;
  font-size: 10.5px;
  /* padding: 10px; */
}
.addComment {
  grid-area: 2/3;
  border: 1px solid yellow;
}

.post {
  border: 1px solid black;
  padding: 3px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
}
